.ai-center {
  align-items: center;
}

.ai-flex-start {
  align-items: start;
}

.ai-flex-end {
  align-items: end;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none !important;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-center {
  justify-content: center;
}

.jc-flex-start {
  justify-content: flex-start;
}

.jc-flex-end {
  justify-content: flex-end;
}

.fxw-no-wrap {
  flex-wrap: nowrap;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.pos-sticky {
  position: sticky;
}

.pos-fixed {
  position: fixed;
}

.t-0 {
  top: 0;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

.col.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.sm-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.sm-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.sm-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.sm-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.sm-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.sm-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.sm-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.sm-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.sm-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.sm-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.sm-2\.4 {
  flex: 0 0 20%;
  max-width: 20%;
}

.sm-4\.8 {
  flex: 0 0 40%;
  max-width: 40%;
}

.sm-7\.2 {
  flex: 0 0 60%;
  max-width: 60%;
}

.sm-9\.6 {
  flex: 0 0 80%;
  max-width: 80%;
}

@media (min-width: 768px) {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .md-2\.4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .lg-4\.8 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .lg-7\.2 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .md-9\.6 {
    flex: 0 0 80%;
    max-width: 80%;
  }
}
@media (min-width: 992px) {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .lg-2\.4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .lg-4\.8 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .lg-7\.2 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .lg-9\.6 {
    flex: 0 0 80%;
    max-width: 80%;
  }
}
* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
}

select {
  appearance: none;
}

select, input {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
